<p-table [columns]="cols" [value]="apis" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll" 
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th *ngFor="let col of columns" pSortableColumn={{col.header}}>
              {{col.header}}
              <p-sortIcon field={{col.field}}></p-sortIcon>
          </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
          <td *ngFor="let col of columns">
              {{rowData[col.field]}}
          </td>
      </tr>
  </ng-template>
  <ng-template pTemplate="paginatorleft">
    <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
  </ng-template>
  <ng-template pTemplate="paginatorright">
    <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
  </ng-template>
</p-table>
