<p-table #dt1 [columns]="cols" [value]="apis" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll" 
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]"
  [globalFilterFields]="['API','Description','Category','Auth','HTTPS','Cors','Category']">
  <ng-template pTemplate="caption">
    <div class="flex">
      <span class="p-input-icon-left ml-auto">
        <!-- <i class="pi pi-search"> TODO: Get icon to sit left of placeholder text </i> -->
        <input type="text" pInputText size="50" (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
          placeholder="Search" />
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" pSortableColumn={{col.header}} [style]="{'min-width':'190px'}">
        {{col.header}}
        <p-sortIcon field={{col.field}}></p-sortIcon>
        <p-columnFilter type="text" field={{col.field}} display="menu"></p-columnFilter>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        <div *ngIf="col.field !== 'API'; else hyperlink">
          {{rowData[col.field]}}
        </div>
        <ng-template #hyperlink>
          <a routerLink="/api">
            {{rowData[col.field]}}
          </a>
        </ng-template>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="paginatorleft">
    <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
  </ng-template>
  <ng-template pTemplate="paginatorright">
    <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
  </ng-template>
</p-table>
